body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Noto Sans KR", Helvetica;
    color: #000000;
}

a {
	text-decoration: none;
	color: inherit;
}

.container1 {
    width: 717px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 70px;
}

.i {
    font-weight: 500;
    font-size: 14px;
}

.t1 {
    font-weight: 600;
    font-size: 15px;
    margin-left: 10px;
    margin-bottom: 15px;
}

.t2 {
    font-weight: 600;
    font-size: 17px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.h-box {
    width: 717px;
    height: 103px;
    background-color: #F7FAFF;
    border-radius: 15px;
    padding: 23px;
    box-sizing: border-box;
    margin-bottom: 100px;
}

.h-name {
    font-weight: 500;
    font-size: 17px;
}

.ta1 {
    font-weight: 600;
    font-size: 15px;
}

.u1 {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;

}

.u2 {
    display: flex;
    flex-direction: column;
    width: 630px;
    margin-left: 10px;
}

.uname {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 5px;
}


.councon {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

.conbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.c1 {
    width: 717px;
    min-height: 130px;
    background-color: #F3F3F3;
    border-radius: 15px;
    height:auto;
    
    padding: 15px;
	box-sizing: border-box;
	outline: none;
	float: left;
	font-family: "Noto Sans KR", Helvetica;
	font-size: 15px;
	line-height: 30px;
	resize: none;
	text-decoration:none;
}

.rc {
	width: 687px;
	min-height: 100px;
	height:auto;
	box-sizing: border-box;
	border: none;
	background: none;
	outline: none;
	float: left;
	font-family: "Noto Sans KR", Helvetica;
	font-size: 15px;
	line-height: 30px;
	resize: none;
	text-decoration:none;
}

.act {
    display: flex;
    flex-direction: column;

}

.a1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
    position: relative;

}

.line1 {
    width: 717px;
    height: 1.5px;
    background-color: #d9d9d9;
    margin-top: 19px;
    position: absolute;
    z-index: 0;

}

.line {
    width: 717px;
    height: 1.5px;
    background-color: #d9d9d9;
    margin-top: 22px;
    margin-bottom: 30px;

}

.line2 {
    width: 717px;
    height: 1.5px;
    background-color: #d9d9d9;
    margin-top: 20px;
    margin-bottom: 30px;

}


.a2 {
    margin-bottom: 70px;
}


.aff {
    margin-top: 30px;
    margin-left: 23px;
}

.af {
	display:flex;
	align-items:center;
    margin-bottom: 12px;
}

.af2 {
	width:55px;
    font-weight: 500;
    font-size: 15px;

}

.name-input, .tel-input {
    width: 595px;
    height: 40px;
    border: 2px solid #d9d9d9;
    border-radius: 6px;
    
    padding-left: 15px;
	box-sizing: border-box;
	outline: none;
	float: left;
	font-family: "Noto Sans KR", Helvetica;
	font-size: 15px;
	line-height: 30px;
	resize: none;
	text-decoration:none;
}

input::placeholder {
    letter-spacing: normal; /* placeholder는 기본 간격 */
}

.checkI {
	font-size: 20px;
	color: #d9d9d9;
	margin-left: 10px;
}

.checkI.active {
	font-size: 20px;
	color: #488EF6;
	margin-left: 10px;
}


.btn {
    margin-top: 125px;
    display: flex;
    justify-content: center;
    gap:10px;
}

