*{
	font-family: "Noto Sans KR", Helvetica;
}

			.main {
				min-width:1150px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .main-div {
                margin-top: 50px;
                width: 1110px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .under-div {
                display: flex;
                justify-content: space-between;
                width: 100%;
            }

            .title-div {
                width: 1110px;
                height: 160px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: #f7faff;
                border-radius: 15px;
                font-size: 18px;
                margin-bottom: 25px;
            }

            .span-div {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            .span-div > span {
                font-size: 15px;
            }

            .select-btn {
                border: 3px solid #d4d4d4;
                border-radius: 15px;
                background-color: white;
                width: 460px;
                height: 60px;
                font-size: 20px;
                cursor: pointer;
                transition-duration: 0.2s;
            }

            .select-btn:hover {
                background-color: #4356b3;
                color: white;
            }

            .div-type-style {
                margin-bottom: 25px;
            }

            .div-type-style > span {
                font-size: 20px;
                font-weight: bold;
            }

            .type-img {
                width: 111px;
            }

            .type-name {
                font-size: 20px;
            }

            .type-div {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                width: 540px;
                height: 350px;
            }

            .select-type-div {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 3px solid #d4d4d4;
                border-radius: 15px;
                height: 410px;
            }

            .find-pw-nav {
                margin-top: 65px;
                display: flex;
                justify-content: flex-end;
                width: 100%;
            }

            .find-pw-nav > span {
                font-size: 15px;
                color: #b5b7c0;
            }

            .find-pw-nav i {
                padding-left: 20px;
                padding-right: 20px;
                color: #b5b7c0;
            }

            .find-pw-nav > a {
                text-decoration-line: none;
                color: #162f6f;
                font-weight: bold;
                font-size: 16px;
            }

            .div-span {
                margin-left: 20px;
            }