*{
	font-family: "Noto Sans KR", Helvetica;
}

			.main {
				min-width:1150px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .main-div {
                margin-top: 50px;
                width: 1110px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .under-div {
                display: flex;
                justify-content: space-between;
                width: 100%;
            }

            .title-div {
                width: 1110px;
                height: 160px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: #F7F8FF;
                border-radius: 15px;
                font-size: 18px;
                margin-bottom: 25px;
            }

            .div-type-style {
                margin-bottom: 25px;
                display: flex;
                justify-content: center;
            }

            .div-type-style > span {
                font-size: 20px;
                font-weight: bold;
            }

            .type-div {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                width: 540px;
                height: 350px;
            }

            .select-type-div {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 3px solid #d4d4d4;
                border-radius: 15px;
                height: 410px;
            }

            .email-text {
                font-size: 20px;
                font-weight: bold;
            }

            .email-div {
                background-color: #d4d4d4;
                width: 60px;
                height: 60px;
                border-radius: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .email-span {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .input {
                border: 3px solid #d4d4d4;
                border-radius: 5px;
                width: 270px;
                height: 40px;
                font-size: 13px;
            }

            .next-btn {
                width: 270px;
                height: 60px;
                background-color: #162f6f;
                color: white;
                border-radius: 15px;
                font-size: 16px;
                margin-top: 10px;
                cursor: pointer;
                transition-duration: 0.2s;
                border: none;
            }

            .next-btn:hover {
                background-color: #2c5ace;
            }

            .right-div {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                height: 400px;
            }

            .send-btn {
                width: 60px;
                height: 45px;
                font-size: 13px;
                color: white;
                background-color: #565f7c;
                border-radius: 15px;
                border: none;
                cursor: pointer;
                transition-duration: 0.2s;
            }

            .send-btn:hover {
                background-color: #162f6f;
            }

            table {
                text-align: center;
            }
            td {
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 25px;
            }

            .right-under-div {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 100px;
            }

            .right-high-div {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }

            .email-check {
                margin-bottom: 15px;
            }
            

            .auth-icon {
                display: none;
            }

            .text-span {
                font-size: 13px;
            }

            .find-pw-nav {
                margin-top: 65px;
                display: flex;
                justify-content: flex-end;
                width: 100%;
            }

            .find-pw-nav > span {
                font-size: 15px;
                color: #b5b7c0;
            }

            .find-pw-nav i {
                padding-left: 20px;
                padding-right: 20px;
                color: #b5b7c0;
            }

            .find-pw-nav > a {
                text-decoration-line: none;
                color: #162f6f;
                font-weight: bold;
                font-size: 16px;
            }
            
            .success-code-div{
            	display:flex;
            	justify-content:center;
            	align-items:center;
            }
            