@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Noto Sans KR", sans-serif;
	background-color: #fff;
	color: #000000;
}

.notice-container {
	min-width: 1500px;
	margin: 0 auto;
	/* padding: 20px; */
	margin-top: 50px;
	display:flex;
	flex-direction:column;
	align-items:center;
}

/* 제목 영역 */
.notice-header {
	background: #F1F1F1;
	color: #000;
	height: 80px;
	width: 1128px; padding : 14px 20px;
	font-size: 18px;
	font-weight: 600;
	display: flex;
	align-items: center;
	padding: 14px 20px;
}

.notice-header .tag {
	display: inline-block;
	background: #2d64e6;
	color: #fff;
	font-size: 13px;
	font-weight: 600;
	padding: 2px 8px;
	border-radius: 3px;
	margin-right: 8px;
}

.notice-info {
	width: 1128px; border-bottom : 1px solid #e0e0e0;
	padding: 12px 20px;
	font-size: 15px;
	color: #444;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 200px;
	border-bottom: 1px solid #e0e0e0;
}

.notice-info>div:nth-child(1) {
	text-align: left;
}

.notice-info>div:nth-child(2) {
	text-align: center;
}

.notice-info>div:nth-child(3) {
	text-align: right;
}

.notice-info div span {
	font-weight: 600;
	margin-right: 4px;
}

/* 첨부파일 */
.notice-attach {
	width: 1128px; cursor : pointer;
	border-bottom: 1px solid #e0e0e0;
	padding: 12px 20px;
	font-size: 15px;
	color: #333;
	display: flex;
	flex-direction: column;
	cursor: pointer;
}

.notice-attach span {
	font-weight: 600;
	margin-right: 4px;
}

/* 본문 */
.notice-content {
	width: 1128px; padding : 20px;
	font-size: 15px;
	line-height: 1.6;
	color: #333;
	min-height: 250px;
	/* 	height: 1000px; */
	resize: none;
	padding: 20px;
}

/* 이전글, 다음글 */
.notice-nav {
	width:1128px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	gap: 10px;
	padding: 12px 20px;
	border-top: 1px solid #d9d9d9;
	font-size: 15px;
	cursor: pointer;
}

.notice-nav div span {
	font-weight: 600;
	margin-right: 6px;
}

/* 버튼 */
.notice-footer {
	width:1128px;
	text-align: right;
	padding: 14px 20px;
}

/* 작성하기 버튼 → 오른쪽 */
.primary-big-btn {
	right: 0;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	padding: 10px 25px;
	position: relative;
	background-color: #488ef6;
	border-radius: 6px;
	width: 78px;
	height: 40px;
	border: none;
	font-size: 13px;
	font-weight: 600;
	color: #fff;
}

.primary-big-btn:hover {
	background-color: #1565c0;
}

/* 목록 버튼 → 오른쪽 */
.basic-big-btn {
	border: 1.5px solid #B7B7B7;
	right: 0;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	padding: 10px 25px;
	position: relative;
	background-color: #fff;
	border-radius: 6px;
	width: 78px;
	height: 40px;
	font-size: 13px;
	font-weight: 600;
	color: #000;
}

.btn-link {
	text-decoration: none;
}

.basic-big-btn:hover {
	background-color: #B7B7B7;
}