*{
	font-family: "Noto Sans KR", Helvetica;
}

			.main {
				min-width:1150px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 50px;
            }

            .main-div {
                margin-top: 50px;
                width: 1110px;
            }
            .chap-div {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 175px;
                width: 1110px;
                border-radius: 15px;
                background-color: #f7faff;
            }

            .chapter {
                display: flex;
            }

            .chapter-in-div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 110px;
                width: 110px;
                border-radius: 50%;
                margin-bottom: 20px;
            }

            .yes {
                background-color: #334186;
                color: white;
            }

            .no {
                background-color: white;
            }

            .chapter-in-div > span {
                font-size: 14px;
            }

            .chapter-in {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .chapter-in > span {
                font-size: 15px;
            }

            .icon {
                margin-top: 5px;
                font-size: 30px;
                padding-bottom: 20px;
            }

            .arrow {
                display: flex;
                align-items: center;
                height: 110px;
                margin-left: 25px;
                margin-right: 25px;
            }

            .info-box {
                width: 1110px;
                margin-top: 30px;
            }

            .line-div {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 55px;
                margin-bottom: 1px;
            }

            .span-div {
                width: 222px;
                height: 55px;
                border-radius: 15px 0 0 0;
                background-color: #f7faff;
                display: flex;
                align-items: center;
            }

            .input-div {
                display: flex;
                align-items: center;
                width: 888px;
                height: 55px;
                border-top: 1.142px solid #b8b8b8;
                border-bottom: 1px solid #b8b8b8;
            }

            .input-div-input {
                height: 34px;
                width: 275px;
                margin-left: 20px;
                border: 2px solid #d4d4d4;
                border-radius: 5px;
            }

            .line-div2 {
                display: flex;
                align-items: center;
                height: 55px;
                margin-bottom: 1px;
            }

            .check-pw,
            .check-pw2 {
                display: flex;
                align-items: center;

                display: flex;
                margin-bottom: 1px;
            }

            .check-pw {
                height: 110px;
            }

            .check-pw2 {
                height: 150px;
            }

            .span-div2,
            .span-div2-pw {
                width: 222px;
                background-color: #f7faff;
                display: flex;
                align-items: center;
            }

            .span-div2-pw2 {
                width: 222px;
                background-color: #f7faff;
                display: flex;
                align-items: center;
                height: 150px;
            }

            .input-div2,
            .input-div2-pw {
                display: flex;
                align-items: center;
                width: 888px;
            }

            .input-div2-pw2 {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                width: 373px;
                height: 150px;
            }

            .input {
                border-top: 1px solid #b8b8b8;
                border-bottom: 1px solid #b8b8b8;
            }
            
            .hos-info-div{
            	margin-top:10px;
            	height:165px;
            	width:326px;
            	border:2px solid #d4d4d4;
            	border-radius: 5px;
            	overflow: auto;
            }

            .span-div2 {
                height: 55px;
            }

            .input-div2 {
                height: 55px;
            }

            .span-div2-pw {
                height: 110px;
            }
            .input-div2-pw {
                height: 110px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-start;
            }

            .regx {
                margin-left: 20px;
                display: flex;
                flex-direction: column;
            }

            .nick-content {
                padding-left: 20px;
                color: #d4d4d4;
            }

            .year {
                margin-left: 20px;
                width: 130px;
                height: 10px;
            }

            .date {
                border-radius: 5px;
                height: 40px;

                border: 2px solid #d4d4d4;
            }
            .month,
            .day {
                width: 95px;
            }

            .text {
                font-size: 17px;
                line-height: 40px;
                width: 31.5px;
                text-align: center;
            }

            select {
                height: 30px; /* 기본 높이 줄이기 */
                padding: 5px;
                font-size: 14px;
            }

            .login-input {
                margin-left: 20px;
                width: 275px;
                height: 34px;
                border: 2px solid #d4d4d4;
                border-radius: 5px;
                margin-right: 5.5px;
            }
            .signUp-btn {
                padding-left: 3px;
                padding-right: 3px;
                height: 32px;
                width: 60px;
                color: white;
                background-color: #565f7c;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition-duration: 0.2s;
            }

            .signUp-btn:hover {
                background-color: #162f6f;
            }

            .input-div2-pw-div {
                display: flex;
                align-items: center;
            }
            
            .hos-info-write-div{
            	display:flex;
            	align-items:center;
            	justify-content:space-between;
            	width:888px;
            	height:150px;
            }
            

            #man {
                margin-left: 20px;
            }

            .info {
                margin-left: 20px;
                font-size: 17px;
            }

            input.tel:nth-child(1) {
                margin-left: 20px;
            }

            .tel {
                height: 34px;
                border:2px solid #d4d4d4;
                border-radius: 5px;
                width: 100px;
                text-align: center;
            }

            .telspace {
                width: 20px;
                font-size: 20px;
                margin-left: 5px;
                margin-right: 5px;
            }

            .tel-div {
                display: flex;
                align-items: center;
            }

            .input-div-email {
                border: 2px solid #b8b8b8;
                border-radius: 5px;
                height: 34px;
                width: 170px;
            }

            .email input:first-of-type {
                margin-left: 20px;
            }

            .email > i {
                margin-left: 6px;
                margin-right: 6px;
            }

            .address-div {
                display: flex;
            }

            .first-address {
                margin-left: 20px;
                margin-right: 10px;
            }
            .addr {
                width: 375px;
                height: 34px;
                border: 2px solid #b8b8b8;
                border-radius: 5px;
            }

            .btn-div {
                margin-top: 35px;
                display: flex;
                justify-content: center;
            }

            .sign-btn {
                height: 40px;
                width: 170px;
                background-color: #162f6f;
                color: white;
                border-radius: 5px;
                border: none;
                transition-duration: 0.2s;
                cursor: pointer;
            }

            .sign-btn:hover {
                background-color: #2c5ace;
            }
            
            #women {
                margin-left: 15px;
            }

            .input-div2-addr {
                display: flex;
                align-items: center;
            }
            .major-div {
                display: flex;
                justify-content: space-between;
                margin-left: 20px;
                width: 283px;
            }

            .major-select {
                width: 135px;
                height: 40px;
                border: 2px solid #d4d4d4;
                border-radius: 5px;
            }
            
            .info-check-div{
	            display	:flex;
	            justify-content:space-between;
            }
            
            .i-span{
            	margin-right:20px;
            }
            
            .span-x{
            	color:red;
            }
            
            .span-check{
            	color:green;
            }
            
            .i-span{
            	display:none;
            }
            
            .hosName{
            	font-size:13px;
            	height:25px;
            	line-height:25px;
            	padding-left:5px;
            	transition-duration: 0.4s;
            	cursor:pointer;
            }
            
            .hosName:hover{
            	background-color:#d4d4d4;
            	
            }
            
           	.modal-main-div {
                /* display:flex; */
                
                display:none;
				z-index: 1000;
                width: 100%;
                height: 100%;
                background-color: rgba(217, 217, 217, 0.7);
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                justify-content: center;
                align-items: center;
            }
            
            .modal-div-over {
                background-color: white;
                width: 380px;
                height:375px;
                /* height: 190px; */
                border: 1px solid #ededee;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius: 8px;
            }
            
            .modal-tool{
            	height:370px;
            	display:flex;
            	flex-direction: column;
            	justify-content:center;
            	align-items:center;
            }
            
            .hos-select-div{
            	display:flex;
            	justify-content:center;
            }
            
            .x-click-div{
            	display:flex;
            	justify-content: flex-end;
            	margin-bottom: 10px;
            	width:342px;
            	margin-bottom:10px;
            }
            
            .x-btn{
            	cursor:pointer;
            	border:none;
            	transition-duration: 0.2s;
            	background-color: transparent;
            	font-size:17px;
            	line-height:25px;
            	width:25px;
            	height:25px;
            	border-radius: 50px;
            }
            
            .x-btn:hover{
            	background-color: #d4d4d4;
            	
            }
            
            .search-bar-hos{
            	width:260px;
            	height:32px;
            	border: 2px solid #d4d4d4;
            	border-radius: 5px;
            	padding-left:5px;
            }
            
            .search-bar-hos:focus{
            	 outline: none;
            }
            
            .search-line-div{
            	display:flex;
            	align-items:center;
            	justify-content:space-between;
            }
            
            .search-hos-btn{
            	padding-left: 3px;
                padding-right: 3px;
                height: 38px;
                width: 50px;
                border-radius: 5px;
                background-color: #565f7c;
                border: none;
                color: white;
                cursor: pointer;
                transition-duration: 0.2s;
                margin-left:5px;
            }  
            

            .search-hos-btn:hover {
                background-color: #162f6f;
            }
            
            .search-dox{
            	width:330px;
            	height:250px;
            }
            
            .select-btn{
            	margin-top:10px;
            	margin-bottom:20px;
            	padding-left: 3px;
                padding-right: 3px;
                height: 38px;
                width: 50px;
                border-radius: 5px;
                background-color: #565f7c;
                border: none;
                color: white;
                cursor: pointer;
                transition-duration: 0.2s;
                margin-left:5px;
            }
            
            .select-btn:hover {
                background-color: #162f6f;
            }
            
            .search-title{
            	display:flex;
            	justify-content:center;
            	margin-bottom:15px;
            }
            
            .search-title-span{
            	font-size:20px;
            	font-weight:bold;
            }
            
            .no-search-hos{
            	display:flex;
            	justify-content:center;
            	align-items:center;
            	width:100%;
            	height:100%;
            	
            }
            
            .no-search-hos > span{
            	font-size:13px;
            	color:#b8b8b8;
            }