@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-width:1500px;
	font-family: "Noto Sans KR", sans-serif;
	background-color: #fff;
	color: #000000;
}

.section-title {
	width: 800px;
	font-size: 20px;
	color: #333;
	margin: 30px auto 0 auto;
	font-weight: 700;
	background-color: #fff;
	display: flex;
	justify-content: flex-start;
}

.main-container {
	max-width: 1280px;
	margin: 40px auto;
	border-radius: 4px;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	gap: 40px;
}

.diary-container {
	width: 1128px;
	margin: 0 auto;
}

/* 캘린더 헤더 */
.fc-toolbar-chunk div {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.fc .fc-toolbar.fc-header-toolbar {
	margin-top: 4px;
}

.fc-toolbar-title {
	width: 230px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.fc-direction-ltr .fc-button-group {
	border-bottom-left-radius: 6px;
	border-top-left-radius: 6px;
}

.fc .fc-prev-button, .fc .fc-next-button {
	background: #fff;
	border: none;
	color: #2c3e50;
}

.fc .fc-write-button {
	border: 1.5px solid #B7B7B7;
	right: 0;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	padding: 10px 25px;
	position: relative;
	background-color: #fff;
	border-radius: 6px;
	width: 78px;
	height: 40px;
	font-size: 13px;
	font-weight: 600;
	color: #000;
}

.fc .fc-write-button:hover {
	background-color: #B7B7B7;
}
.fc-event-title-container{
    cursor: pointer;
    transition-duration: 0.2s;
}

.fc-event-title-container:hover{
	background-color:#4a64d6;
}

/* 검색창 */
.notice-search {
	margin-left: auto;
	display: flex;
	align-items: center;
	border: 1px solid #E7E7E7;
	background: #f9fbff;
	border-radius: 4px;
	overflow: hidden;
	width: 216px;
	height: 38px;
}

.notice-search input {
	border: none;
	outline: none;
	width: 160px;
	padding: 0 8px;
	font-size: 13px;
	background-color: #f9fbff;
}

.notice-search button {
	border: none;
	background: #f9fbff;
	cursor: pointer;
	display: flex;
	align-items: center;
	font-size: 13px;
	color: #555;
	margin-left: auto;
	margin-right: 10px;
}

.search-icon {
	width: 13px;
	height: 13px;
	font-size: 13px;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	margin-left: 4px;
}

/* 정렬 셀렉트 */
.notice-select {
	background: #f9fbff;
	border: 1px solid #E7E7E7;
	border-radius: 4px;
	width: 100px;
	height: 38px;
	font-size: 13px;
	color: #333;
	padding-left: 6px;
}

/* 상세 팝업  */
.detail-popup {
	position: absolute;
	z-index: 10000;
	width: 500px;
	min-height: 300px;
	padding: 20px;
	background-color: #F7FAFF;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	border-radius: 10px;
}

.title {
	display: flex;
	flex-direction: row;
	gap: 10px;
	justify-content: center;
	align-items: center;
}

.title span {
	font-size: 20px;
	font-weight: bold;
}

.emoji {
	font-size: 20px;
}

.sub-title {
	font-size: 16px;
	font-weight: 600;
	/* color: #B5B7C0; */
}

.sub-title span {
	margin-left: 10px;
	font-size: 14px;
	font-weight: 400;
	color: #000000;
}

.content {
	font-size: 8px;
}

#close-btn {
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 10px;
	background: none;
	border: none;
}

.button-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.btn-link {
	text-decoration: none;
}

.primary-big-btn {
	right: 0;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	padding: 10px 25px;
	position: relative;
	background-color: #488ef6;
	border-radius: 6px;
	height: 40px;
	border: none;
	font-size: 13px;
	font-weight: 600;
	color: #fff;
}

.primary-big-btn:hover {
	background-color: #1565c0;
}

.basic-big-btn {
	border: 1.5px solid #B7B7B7;
	right: 0;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	padding: 10px 25px;
	position: relative;
	background-color: #fff;
	border-radius: 6px;
	width: 78px;
	height: 40px;
	font-size: 13px;
	font-weight: 600;
	color: #000;
}

.basic-big-btn:hover {
	background-color: #B7B7B7;
}

.diary-list {
	width: 100%;
	max-width: 1128px;
	border-collapse: collapse;
	margin-bottom: 20px;
	border: 1px solid #eee;
}

.no-data {
	height: 360px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
	align-items: center;
	text-align: center;
	border: 1px solid #eee;
	font-size: 25px;
	font-weight: 500;
}

.no-data .icon {
	width: 40px;
	height: 40px;
	font-size: 40px;
}

.diary-list th, .diary-item td {
	padding: 12px;
	text-align: left;
	border: 1px solid #eee;
}

.diary-list th {
	background-color: #f8f8f8;
	font-weight: bold;
}

.diary-list .diary-item {
	cursor: pointer;
	height: 63px;
}

.diary-list .diary-item:hover {
	background-color: #f0f0f0;
	text-decoration: underline;
}

.diary-list .diary-title-row {
	height: 63px;
}

.diary-list .diary-title {
	width: 217px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.diary-list .diary-txt {
	width: 217px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.diary-list .diary-content.date {
	text-align: left;
	font-size: 13px;
}

/* 페이지네이션 & 작성하기 버튼 컨테이너 */
.diary-footer {
	position: relative;
	display: flex;
	text-align: center;
	align-items: center;
	margin-top: 20px;
}

/* 페이지네이션 중앙 정렬 */
.pagination {
	display: flex;
	align-items: center;
	gap: 10px;
	margin: 0 auto;
	/* 중앙 정렬 */
}

.pagination button {
	border: none;
	background: transparent;
	cursor: pointer;
	font-size: 14px;
	color: #333;
}

.pagination button.active {
	background: #a6c8ff;
	border-radius: 50%;
	width: 28px;
	height: 28px;
	color: #000;
	font-weight: bold;
}