body {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "Noto Sans KR", Helvetica;
	color: #000000;
}

a {
	text-decoration: none;
	color: inherit;
}

.myPage {
	width: 1280px;
	display: flex;
	justify-content: space-between;
	margin-top: 60px;
}

.container1 {
    width: 1022px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px;
    margin-top: 60px;
}

.box {
    width: 704px;
    height: 140px;
    border-radius: 15px;
    background-color: #F7FAFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
    margin-top: 110px;
}

.icon {
    width: 50px;
    height: 50px;
}

.material-symbols-outlined {
    font-size: 40px;
    color: #488EF6;
}


.t1 {
    font-weight: 600;
    font-size: 16pt;
}

.btn {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    gap:10px;
}

