body {
	font-family: "Noto Sans KR", Helvetica;
	color: #000000;
	margin:0;
}

a {
	text-decoration: none;
	color: inherit;
}

/* 섹션 타이틀 */
#section-title {
    width: 800px;
    font-size: 20px;
    color: #333;
    margin: 30px auto 0 auto;
    font-weight: 700;
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
}

.myPage {
	width: 1280px;
    margin: 20px auto 0 auto; /* 위 20px 띄우고 가운데 정렬 */
    display: flex;
    gap: 40px; /* 사이 간격 */
}

.container1 {
    width: 1045px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px;
}

.rescom {
    width: 1045px;
    background-color: #F7FAFF;
    border-radius: 15px;
    padding: 80px 115px 130px 115px;
    box-sizing: border-box;
}

.head-box{
	width: 794px;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-bottom:20px;
}

.t1 {
    font-weight: 600;
    font-size: 19px;
}

.tq {
    font-weight: 600;
    color: #4356B3;
    font-size: 19px;
    padding-left: 10px;
}
.ticon {
	font-size:20px;
	margin-right:5px;
	color: #4a64d6;
}

.white-box {
    width: 794px;
    background-color: white;
    border-radius: 15px;
    padding: 39px 58px 58px 58px;
    box-sizing: border-box;
    display:flex;
    flex-direction:column;

}

.hos-date {
    display: flex;
    justify-content: space-between;
}

.left {
    display: flex;
    flex-direction: column;
}

.hos-in {
    display: flex;
    align-items: center;
}

.t21 {
    font-weight: 600;
    font-size: 18px;
}

.dday {
    width: 58px;
    height: 28px;
    background-color: #4a64d6;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.dd {
    font-weight: 700;
    color: #ffffff;
    font-size: 13px;
}

.t71 {
    font-weight: 600;
    font-size: 17px;
}


.line {
    width: 682px;
    height: 2px;
    background-color: #D9D9D9;
    margin-top: 30px;
    margin-bottom: 40px;

}


.docbox {
    width: 676px;
    border: solid 2px #d9d9d9;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    padding: 14px;
    box-sizing: border-box;
    margin-bottom: 13px;
    margin-bottom: 34px;
}

.docprof {
    width: 137px;
    height: 168px;
    border-radius: 5px;
    margin-right: 15px;
    background-color: #e6e6e6;
    overflow:hidden;
}

.image-thumbnail {
    width:100%;
    height:100%;
    object-fit:cover;
}

.info {
    width: 490px;
    height: 167px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.doci {
    display: flex;
    flex-direction: column;
}

.dname {
    font-weight: 600;
    font-size: 15px;
    margin-top: 14px;
}

.intro {
    font-weight: 500;
    font-size: 14px;
}

.major {
    font-weight: 500;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.painfo {
    display: flex;
    flex-direction: column;
}


.t2 {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 26px;
}

.pname,
.ptel {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 5px;

}


.counbox {
    width: 678px;
    min-height: 110px;
    background-color: white;
    border: 2px solid #d9d9d9;
    border-radius: 5px;
    margin-top: 20px;
    height:auto;
    
    padding: 15px;
	box-sizing: border-box;
	outline: none;
	float: left;
	font-family: "Noto Sans KR", Helvetica;
	font-size: 15px;
	line-height: 30px;
	resize: none;
	text-decoration:none;
}

.map {
    margin:30px 0;
}

.map-sec {
    width: 678px;
    height: 160px;
    background-color: #F3F3F3;
    border-radius: 5px;
    margin-top: 20px;
}



.hh {
    width: 1280px;
    height: 103px;
    display: flex;
    padding-top: 26px;
    padding-left: 78px;
    padding-right: 78px;
    box-sizing: border-box;
    justify-content: space-between;

}

.hbt {
    font-weight: 700;
    font-size: 26px;
    display: flex;
    padding-top: 7px;
}

.share {
    display: flex;
}

.bt1 {
    width: 25px;
    height: 25px;
    background-color: white;
    border: none;
    margin-left: 15px;
    margin-top: 14px;

}

.i {
    color: rgb(175, 175, 175);
    background: none;
    border: none;
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.fa-solid fa-share-nodes,
.fa-regular fa-star {
    width: 25px;
    height: 25px;
}

.hos-box {
    width: 1280px;
    height: 448px;
    display: flex;
    padding-left: 69px;
    padding-right: 69px;
    box-sizing: border-box;

}

.hinfotable {
    padding: 0;
    margin: 0;
    border-collapse: separate;
    /* 기본은 separate */
    border-spacing: 0;
    /* 위아래 간격 10px */
}

.hinfoa {
    display: flex;
}

.hinfo {
    display: flex;

}

.file_no {
    background-color: #eeeeee;
    width: 569px;
    height: 320px;
    margin-right: 49px;
    border-radius: 15px;
}

.hinfor {
    display: flex;
    flex-direction: column;
}

.hinfoh {
    display: flex;
    flex-direction: column;
}

.hos-cate {
    font-weight: 500;
    font-size: 11px;
}

.hos-na {
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 26px;
}

.detail-icon {
    display: flex;
    flex-direction: column;
}


.etc {
    font-weight: 500;
    font-size: 13px;
}

.etc1 {
    font-weight: 500;
    font-size: 15px;

}

.etc2 {
    font-weight: 500;
    font-size: 15px;
}


.icon {
    width: 23px;
    height: 25px;
    text-align: left;
    color: #8b8b8b;
}

.icon2 {
  	font-size: 15px;
    color: #8b8b8b;
}

.ex {
    padding-top: 5px;
    padding-bottom: 5px;
}

.hosinf {
    display: flex;
    justify-content: space-between;
    margin-bottom:20px;
}

.hosd {
    width: 169px;
    height: 40px;
    background-color: white;
    border: 2px solid #d9d9d9;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
}

.btn {
    margin-top: 80px;
    display: flex;

}

