body {
	min-width:1500px;
	font-family: "Noto Sans KR", Helvetica;
	color: #000000;
	margin:0;
}

a {
	text-decoration: none;
	color: inherit;
}

/* 섹션 타이틀 */
#section-title {
    width: 800px;
    font-size: 20px;
    color: #333;
    margin: 30px auto 0 auto;
    font-weight: 700;
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
}

.myPage {
	width: 1280px;
    margin: 20px auto 0 auto; /* 위 20px 띄우고 가운데 정렬 */
    display: flex;
    gap: 40px; /* 사이 간격 */
}

.container1 {
	width: 1045px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 60px;
}

.comhead {
	display: flex;
	justify-content: space-between;
}

.moveIcon {
	display: flex;
	margin-top: 15px;
	margin-right: 20px;
	gap: 10px;
}

.move1 {
	width: 50px;
	height: 25px;
	font-size: 20px;
	color: #4356B3;
	cursor: pointer;
	background-color: #F7FAFF;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

#moveLeft[disabled],
#moveRight[disabled] {
	color: #d9d9d9;
    background-color: #F7FAFF;
    cursor: default;
}

.comres {
	width: 1045px;
	background-color: #F7F8FF;
	border-radius: 15px;
	padding: 30px 0;
	box-sizing: border-box;
}

.come {
	margin-top: 10px;
	margin-bottom: 45px;
}

.t1 {
	font-weight: 600;
	font-size: 17px;
	padding-left: 30px;
}

.t4 {
	font-weight: 600;
	font-size: 17px;
	padding-left: 35px;
}

.tq {
	font-weight: 600;
	color: #4a64d6;
	font-size: 17px;
	padding-left:10px;
}

.tq1 {
	font-weight: 600;
	color: #bbbbbb;
	font-size: 17px;
	padding-left:10px;
}


.carousel-wrapper {
	position: relative;
	overflow: hidden; /* flex 내용이 넘치는 걸 감추기 */
	width: 100%;
}

.carousel-container {
	display: flex;
	overflow-x: auto; /* 가로 스크롤 가능 */
	scroll-behavior: smooth;
	scrollbar-width: none;
}

.carousel-container::-webkit-scrollbar {
  display: none; /* 스크롤바 숨기기 */
}

.list-center {
	align-items:center;
	width:1045px;
}


.list1 {
	width:995px;
	height: 205px;
	padding: 25px 30px;
	box-sizing: border-box;
	background-color: white;
	border-radius: 15px;
	margin-bottom: 20px;
	margin: 0 25px;
	
	/* flex 컨테이너 안에서도 width가 고정되게 */
	flex: 0 0 auto;
	flex-shrink: 0;
}

.list3 {
	width: 995px;
	height: 205px;
	padding: 30px;
	box-sizing: border-box;
	background-color: white;
	border-radius: 15px;
	margin-bottom: 20px;
	margin: 0 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.no {
	display: flex;
	align-items: center;
}

.t2 {
	font-weight:500;
	margin-left: 25px;
}

.icon2 {
	font-size: 25px;
	color: #488EF6;
}

.l1 {
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	align-items: center;
}

.d {
	display: flex;
}

.blue {
	font-weight: 600;
	color: #4a64d6;
	font-size: 17px;
}

.dday {
	width: 58px;
	height: 28px;
	background-color: #4a64d6;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 5px;
}

.dd {
	font-weight: 700;
	color: #ffffff;
	font-size: 13px;
}


.l2 {
	height: 127px;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
}

.hosIcon {
	font-size: 20px;
	color: #4a64d6;
}

.hosIcon2 {
	font-size: 20px;
	color: #bbbbbb;
}

.hi {
	display: flex;
	align-content: center;
	justify-content: center;
}

.hname {
	font-weight: 500;
	font-size: 17px;
}

.dname {
	font-weight: 500;
	color: #4c4c4c;
	font-size: 14px;
}

.coun {
	font-weight: 400;
	color: #bbbbbb;
	font-size: 12px;
}

.right {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}

.lbt,.lbt-cancel {
	width: 95px;
	height: 82px;
	background-color: white;
	border: 2px solid #d9d9d9;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-right: 5px;
	transition: 0.2s;
	cursor: pointer;
}

.lbtb {
	width: 95px;
	height: 82px;
	background-color: white;
	border: 2.5px solid #4a64d6;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-right: 5px;
	transition: 0.2s;
	cursor: pointer;
}

.lbtb:hover, .lbt:hover,
.lbt-cancel:hover {
	background-color: #F7F8FF;
	border-color: #F7F8FF;
}

.lbt:active, .lbtb:active,
.lbt-cancel:active {
	transform: translateY(2px);
}

.lbt3 {
	font-weight: 600;
	color: #4255b3;
	font-size: 12px;
	margin-bottom: 4px;
}

.lbt1 {
	font-weight: 600;
	color: #6d6d6d;
	font-size: 12px;
	margin-bottom: 4px;
}

.lbt2 {
	font-size: 17px;
	color: #d9d9d9;
}

.lbt4 {
	font-size: 17px;
	color: #4255b3;
}

.searchbar {
	width: 1045px;
	margin-top: 32px;
	display:flex;
	flex-direction:column;
}

.sbox {
	width: 1045px;
	height: 70px;
	background-color: #F1F1F1;
	border-radius: 15px;
	padding-left: 200px;
	padding-right: 200px;
	padding-top: 17px;
	padding-bottom: 17px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-items: center;
	margin-top: 12px;
}

.fil {
	align-items: center;
}

.t3 {
	font-weight: 600;
	font-size: 14px;
	margin-right: 23px;
}

.month {
	font-weight: 500;
	color: #4f4f4f;
	font-size: 14px;
	width: 100px;
	height: 36px;
	border: none;
	border-radius: 5px;
	margin-right: 30px;
}

.search-box {
	width: 310px;
	height: 36px;
	background-color: white;
	border-radius: 5px;
	margin-right: 10px;
}

.search-txt {
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0px;
	color: gray;
	font-size: 16px;
	line-height: 38px;
	width: 250px;
	display: flex;
	align-items: center;
}

.i {
	color: gray;
	background: none;
	float: left;
	width: 40px;
	height: 100%;
	border: none;
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.list2 {
	width: 1045px;
	height: 205px;
	border: 2px solid #d9d9d9;
	border-radius: 15px;
	padding: 30px;
	box-sizing: border-box;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
}

.list4 {
	width: 1045px;
	height: 205px;
	border: 2px solid #d9d9d9;
	border-radius: 15px;
	padding: 30px;
	box-sizing: border-box;
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items:center;
}

.l3 {
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
}

.l4 {
	height: 109px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	box-sizing: border-box;
}

.gray ,.gray1 {
	font-weight: 600;
	font-size: 17px;
}

.right2 {
	display: flex;
	justify-content: flex-end;
	gap: 5px;
}

.rbt {
	width: 95px;
	height: 36px;
	background-color: white;
	border-radius: 50px;
	border: 2px solid #d9d9d9;
	margin-left: 5px;
	font-weight: 500;
	color: #6d6d6d;
	font-size: 14px;
}

.page-div {
	margin-top:30px;
}

.fav-btn{
	cursor:default;
}


.fav-btn:active {
    transform: none;
    filter: none;
}

.page.next-page,
.page.previous,
.move-page {
	outline: none;
	cursor: pointer;
	background-color: inherit ;
	border:none;
		
}

.cur-page{
	background: #a6c8ff;
	border:none;
	border-radius: 50%;
	width: 28px;
	height: 28px;
	color: #000;
	font-weight: bold;
	cursor:pointer;
}


#recResList-container {
	height:680px;
}









