.first-block {
    width: 195px;
    height: 115px;
    background-color: #4356b3;
    border-radius: 5px 5px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-block-span {
    color: white;
    font-size: 17px;
}

.second-block {
    width: 195px;
    height: 105px;
    background-color: #ccd1df;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.second-block > span {
    padding-left: 15px;
}

.second-block-first {
    font-size: 17px;
}

.second-block-second {
    font-size: 17px;
    font-weight: bold;
}

.second-block-third {
    font-size: 13px;
    color: #96989e;
}

.button-block {
    display: flex;
    flex-direction: column;
}

.button {
    width: 195px;
    height: 50px;
    background-color: white;
    border: 1px solid #bfbfbf;
    cursor: pointer;
    text-align: start;
    padding-left: 15px;
    font-size: 16px;
}

.button-block .button:last-child {
    border-radius: 0 0 5px 5px;
}

.main-nav {
    width: 195px;
    margin-right: 35px;
}

/* 네비 추가 메뉴 */
.menu {
    width: 195px;
    height: 50px;
    /* text-align: center; */
    line-height: 40px;
}

.menu > .sub,
.menu > .sub2 {
    height: 0;
    list-style: none;
    overflow: hidden;
    transition: height ease-out 0.6s 0s;
    margin: 0;
    padding: 0;
}

.menu > .sub li,
.menu > .sub2 li {
    background-color: #ccd1df;
    border-top: 1px white solid;
    padding-left: 15px;
}

.menu > .sub li > a,
.menu > .sub2 li > a {
    text-decoration: none;
    color: black;
}


