body{
	margin:0;
}


			.main {
                min-width: 1400px;
            }


            .hos-name-div {
                margin-left: 10px;
            }

            .hos-name {
                font-size: 24px;
            }

            .select-div {
                width: 850px;
                display: flex;
                justify-content: space-between;
            }

            .search-div {
                display: flex;
                align-items: center;
            }

            .select-reservation {
                margin-top: 40px;
                margin-left: 10px;
            }

            .year,
            .month,
            .day {
                height: 25px;
                text-align: center;
                border: 1px solid #a6a6a6;
                border-radius: 5px;
            }

            .year {
                width: 120px;
            }

            .month,
            .day {
                width: 50px;
            }

            .reservation-input {
                height: 25px;
                border: 1px solid #a6a6a6;
                border-radius: 5px;
            }

            .reservation-btn {
                margin-left: 10px;
                height: 25px;
                width: 45px;
                border: none;
                color: white;
                background-color: #4356b3;
                border-radius: 5px;
            }

			.reservation-table-div{
				height: 570px;
			}

            .reservation-table {
                margin-top: 10px;
                width: 850px;
                
                border-collapse: collapse;
            }
            
            .btn-td{
            	padding:0 !important;
            }

            .tr:nth-child(odd) {
                background-color: #f6f8ff;
            }

            .th {
                text-align: center;
                height: 40px;
                font-size: 16px;
                background-color: #4356b3;
                color: white;
            }

            .td {
                height: 40px;
                text-align: center;
                border-bottom: 1px solid #a6a6a6;
            }

            .show-dia-btn, .show-pInfo-btn{
            	font-size:15px;
            	width:40px;
            	height:25px;
            	background-color: #ccd1df;
            	border:none;
            	border-radius:5px;
            	cursor:pointer;
            	transition-duration: 0.2s;
            }
            
            .show-dia-btn:hover, .show-pInfo-btn:hover{
            	background-color:#4356b3;
            	color:white;
            }
            
           .view-more img {
			  transition: transform 0.2s ease; /* 부드럽게 회전 */
			}
			
			.view-more img.rotated {
			  transform: rotate(180deg); /* 회전 상태 */
			}

            
            
            
            