body {
	min-width:1500px;
	margin:0;
    font-family: "Noto Sans KR", Helvetica;
    color: #000000;
}

.body-div{
	display: flex;
    align-items: center;
    justify-content: center;
    padding-top:26px;
}

a {
	text-decoration: none;
	color: inherit;
}

.exam-container {
    margin-top: 110px;
    width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.box {
    width: 1150px;
    height: 537px;
    background-color: #F7FAFF;
    border-radius: 15px;
    padding: 80px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.examicon {
    margin-bottom: 20px;
}

.material-symbols-outlined {
    font-size: 60px;
    color: #488EF6;
}


.t1 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}

.score {
    margin-bottom: 50px;
}

.cate,
.p1,
.sco {
    font-weight: 400;
    font-size: 19px;
}

.sco,
.cate {
    font-family: "Noto Sans KR", Helvetica;
    font-weight: 600;
    color: #06B3B0;
}

.result {
    font-weight: 400;
}


.btn {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    gap:10px;
}

