/* button */
/* 버튼-버튼 사이 간격 gap:10px; */
.btn-rec-w {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 20px;
    background-color: white;
    border: #D9D9D9 solid 1.5px;
    font-family: "Noto Sans KR", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 15px;
    border-radius: 6px;
    transition: 0.2s;
    cursor: pointer;
}

.btn-rec-b {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 20px;
    background-color: #488EF6;
    border: none;
    font-family: "Noto Sans KR", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 15px;
    border-radius: 6px;
    transition: 0.2s;
    cursor: pointer;
}

.btn-cir-w {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 7px 20px;
    background-color: #ffffff;
    border-radius: 50px;
    border: #D9D9D9 solid 1.5px;
    font-family: "Noto Sans KR", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 14px;
    transition: 0.2s;
    cursor: pointer;
}

.btn-cir-b {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 7px 20px;
    background-color: #488EF6;
    border: none;
    border-radius: 50px;
    font-family: "Noto Sans KR", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 14px;
    transition: 0.2s;
    cursor: pointer;
}

.btn-long-w {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 80px;
    background-color: white;
    border: #D9D9D9 solid 1.5px;
    font-family: "Noto Sans KR", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 15px;
    border-radius: 6px;
    transition: 0.2s;
    cursor: pointer;
}

.btn-long-b {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 80px;
    background-color: #488EF6;
    border: none;
    font-family: "Noto Sans KR", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 15px;
    border-radius: 6px;
    transition: 0.2s;
    cursor: pointer;
}


/* hover */
.btn-rec-w:hover,
.btn-long-w:hover,
.btn-cir-w:hover {
    background-color: #e6e6e6;
}

.btn-rec-b:hover,
.btn-long-b:hover,
.btn-cir-b:hover {
    background-color: #306ecc;
}

/* active */
.btn-rec-w:active,
.btn-long-w:active,
.btn-cir-w:active,
.btn-rec-b:active,
.btn-long-b:active,
.btn-cir-b:active {
    transform: translateY(2px);
    filter: brightness(90%);
}

